# Program Management

## Imports and Set Up

In [1]:
import pandas as pd

## Cell Styiling

- https://stackoverflow.com/questions/28075699/coloring-cells-in-pandas
- https://pandas.pydata.org/pandas-docs/stable/user_guide/style.html

In [5]:
system_ids = [1,2,3,4,5]
system_types = ['water','water','power','water','power']
system_names = ['System 1','System 2','System 3','System 4','System 5']
survey_statuses = ['complete','not started','submitted','complete','complete']

In [6]:
df = pd.DataFrame({"id":system_ids,"type":system_types,"name":system_names,"survey status":survey_statuses})

In [7]:
df

   id   type      name survey status
0   1  water  System 1      complete
1   2  water  System 2   not started
2   3  power  System 3     submitted
3   4  water  System 4      complete
4   5  power  System 5      complete

In [36]:
def highlight_status(data):
   # print(data)
    color = "white"
    if data == "complete":
        color = 'green'
    elif data == "not started":
        color = 'red'
    attr = 'background-color: {}'.format(color)
    return attr

In [37]:
df.style.applymap(highlight_status,subset=["survey status"])